.ncurses--term {
    display: grid;
}

.ncurses--cell {
    display: block;
    width: 12px;
    height: 22px;
    padding: 0;
    margin: 0;
    color: rgb(10, 102, 10);
    font-family: monospace;
}